<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TemporalSemantics</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div id="widther">
        <div id="header">
            <div id="title" style="float:left;">
                <a href="https://temporalsemantics.info"></a><img src="images/logo.png" alt="Temporal Semantics logo" /></a>
            </div>
            <div style="float:right;">
                <a href="/">Home</a> |
                <a href="/owl-time">OWL Time</a> |
                <a href="/trs">TRSes</a> |
                <a href="/timescales">Timescales</a> |
                <a href="/about">About</a>                
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="container-content">
            {{ content }}
        </div>
        <footer>
            <p>
                Temporal Semantics is an enthusiast's website about representing time in Semantic Web ways.
            </p>
        </footer>
    </div>
</body>
</html>